Repository SpikeeLabs/semantic-release-sentry-releases: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "{src,test}/**/*.js": ["eslint --fix", "prettier --write"],
  "src/**/*.ts": ["prettier --write"],
  ".prettierrc": ["prettier --write"],
  ".{github,vscode}/**/*": ["prettier --write"]
}

chore: correct CI/CD default branche
  .github/workflows/nodejs.yml
Due: prettier --write

Notes added by 'git notes add'
  d4adb52197c81db2440e7a1b7995cb0332ef721e
Due: none

fix: prevent error during publish
  .github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  e8a8a923c90572bac57056a565885156b58244fd
Due: none

fix(ci): reduce package size + coverage
  .github/workflows/nodejs.yml
  .github/workflows/release.yml
  .npmignore
  .releaserc.json
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  e8e1d1fa24e0208f57b3bad227e9c1e63b96b879
Due: none

chore: publish coverage report
  .github/workflows/nodejs.yml
  .github/workflows/release.yml
Due: prettier --write

chore: add coverage badge
  README.md
Due: none

fix(publish): support my-repo@[version] versions
  README.md
  src/publish.js
  test/publish.test.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  03b9a64f11003de0a135bbf38ca806fa1e0856b3
Due: none

chore(deps): refactor renovate.json file
  renovate.json
Due: none

chore: update vscode config
  .vscode/settings.json
Due: prettier --write

ci: disable codecov wating for installation
  .github/workflows/nodejs.yml
  .github/workflows/release.yml
Due: prettier --write

chore: set base branche of renovate to alpha
  renovate.json
Due: none

fix(deps): update release version
  .github/workflows/nodejs.yml
  .github/workflows/release.yml
  .nvmrc
  package-lock.json
  package.json
  src/types.d.ts
Due: prettier --write

ci: remove publish for alpha / beta branches
  .github/workflows/release.yml
Due: prettier --write

chore(deps): update dependency prettier to v3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency eslint-plugin-n to v16
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  6c316ee8cf52f8c93800b4811ea10b8b4f284aa8
Due: none

Remove assignee from renovate configuration
  renovate.json
Due: none
